/build/
!/build/packages-python.txt
/*.tar.gz
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
/wandb
**/.git
.git/
wandb/
wandb
**/*.pyc
**.pyc
**/__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
log
logs
data
/opt/ml/code/data
*data